// primary
$mg-white: $gray1;
$mg-yellow: $yellow6;
$mg-lime: $lime7;
$mg-red: $orange8;


// primary mapping
$background-color: $mg-white;

$font-color-white: $mg-white;

$button-default-color: $mg-yellow;
$button-primary-color: $mg-lime;
$button-error-color: $mg-red;


// secondary
$button-default-hover: $yellow7;
$button-primary-hover: $lime8;
$button-error-hover: $orange9;


