$editor-border-radius: 2px;
$editor-border-color: $input-border-color;
$editor-border-color-focus: $input-focus-border-color;

$editor-color: $font-color;

$editor-placeholder-color: $input-placeholder-color;
$editor-background-color: $background-color;

@import './base';
