// primary
$sk-white: $gray0;

$sk-blue: $blue6;

$sk-red: $red7;


// primary mapping

$background-color: $sk-white;

$font-color-white: $sk-white;

$button-default-color: $sk-blue;
$button-primary-color: $sk-blue;
$button-error-color: $sk-red;

// secondary
$button-default-hover: $gray2;
$button-primary-hover: $blue7;
$button-error-hover: $red8;
