@import '~rfs/scss';

$font-family: Arial, Helvetica, sans-serif !default;

@mixin fontBase(
  $fontSize: 16px,
  $color: null,
  $fontFamily: $font-family,
  $lineHeight: 1,
  $fontWeight: 500
) {
  @include font-size($fontSize !important);
  font-weight: $fontWeight;
  font-family: $fontFamily;
  line-height: $lineHeight;
  color: $color;
}
