$input-border-radius: 2px !default;
$input-border-color: black !default;
$input-border-color-focus: green !default;
$input-background-color: #f1f1f1 !default;

input[type~='text'] {
  @include bodyText;
  border: 1px solid $input-border-color;
  margin: 2 px;
  border-radius: $input-border-radius;
  height: 2rem;
  padding: 0.5rem;
  background-color: $input-background-color;
  &::placeholder {
    @include placeholderText;
  }
  &:focus,
  &:hover {
    border-color: $input-border-color-focus;
  }
}
